
{require_otp_vsn, "R13B04|R14"}.

{deps, [
	%% TODO: use an SCM tuple for these
    {fastlog, ".*",
        {git, "https://github.com/hyperthunk/fastlog.git", "master"}},
    {parse_trans, ".*",
        {git, "https://github.com/esl/parse_trans.git", "master"}},
	{rebar_retest_plugin, ".*",
	    {git, "https://github.com/hyperthunk/rebar_retest_plugin.git", "master"}}
]}.

%% ReTest config
{rebar_plugins, [rebar_retest_plugin]}.
{retest_testdir, "inttest"}.
{retest_verbose, true}.
{retest_loglevel, debug}.

%% TODO: Investigate why this doesn't work....
%% {retest_outdir, ".retest"}.
