
{require_otp_vsn, "R13B04|R14"}.

{deps, [
	%% TODO: use an SCM tuple for these
    {fastlog, ".*"},
    {parse_trans, ".*"},
	{rebar_retest_plugin, ".*"}
]}.

%% ReTest config
{rebar_plugins, [rebar_retest_plugin]}.
{retest_testdir, "inttest"}.
{retest_verbose, true}.
{retest_loglevel, debug}.

%% TODO: Investigate why this doesn't work....
%% {retest_outdir, ".retest"}.
